name: Update Database on Issue Creation

run-name: ${{ github.actor }} causing a database update :)

on:
  issues:
    types:
      - opened

jobs:
  Update-Database:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Time to check out the repository code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
      - name: Let us list out the locally available files for no reason
        run: ls
      - name: Listing out the database also for the same reason
        run: cat "database.csv"
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - name: Run Update Script
        run: python .github/scripts/update_database.py
        env:
          ISSUE_BODY: ${{ github.event.issue.body }}
      - name: Committing Changes and Pushing
        uses: stefanzweifel/git-auto-commit-action@v7
